---
layout: default 
title: Home
---

<img src="assets/img/lab_group_2023.jpg" alt="Lab at retreat on Cape Cod" width="600"/>

Welcome to the website of the Hemberg lab which is part of the Gene Lay Institute of Immunology and Inflammation at <a href="https://hms.harvard.edu">Harvard Medical School</a> and <a href="https://brighamandwomens.org">Brigham and Women's Hospital</a>. We are a computational genomics group, interested in understanding how information is stored and accessed in the genome.
