---
layout: default 
title: Home
---

<img src="assets/img/mgb.jpg" alt="MGB" width="100"/>
<img src="assets/img/hms.jpg" alt="HMS" width="100"/>
<img src="assets/img/hale.png" alt="Hale building" width="600"/>

Welcome to the website of the Hemberg lab which is part of the <a href="https://evergrande.hms.harvard.edu">Evergrande Center for Immunological Diseases</a> at <a href="https://hms.harvard.edu">Harvard Medical School</a> and <a href="https://brighamandwomens.org">Brigham and Women's Hospital</a>. We are a computational genomics group, interested in understanding how information is stored and accessed in the genome.
