---
layout: default 
title: Home
---

<img src="assets/img/logo.png" alt="System Single-cell Biology Lab" width="600"/>

<img src="assets/img/jaewon.jpg" alt="PI: Jae-Won, Cho">
##Professional Experiences <br/>
-	Research Professor, HY Institute of Bioscience and Biotechnology, Department of Life Science; Hanyang University, 2025 <br/>
-	Research Fellow, The Gene Lay Institute of Immunology and Inflammation, Brigham and Women’s Hospital, Massachusetts General Hospital, and Harvard Medical School, Boston, MA, USA, 2021 <br/>

##Education <br/>
-	Yonsei University, Seoul, Ph.D., Biotechnology, 2021 <br/>
-	Yonsei University, Seoul, M.S., Chemistry, 2016 <br/>
-	Yonsei University, Seoul, B.S., Chemistry and Biochemistry, 2014 <br/>


